<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        
        {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>

    <body class="bg-gray-50 font-sans leading-normal tracking-normal">
        <!-- Navbar -->
        <nav class="bg-blue-600 text-white p-4 shadow-md">
            <div class="max-w-7xl mx-auto flex items-center justify-between">
                <div class="flex items-center space-x-4">
                    <a href="/" class="text-white text-3xl font-extrabold hover:text-gray-300 flex items-center">
                        <span class="text-yellow-400 mr-2">⚫️</span><span>Sunu Ecole</span>
                    </a>
                </div>
                <div class="hidden md:flex space-x-6">
                    <a href="{{ path('app_cours') }}" class="text-white hover:text-gray-300">Cours</a>
                    <a href="{{ path('app_session') }}" class="text-white hover:text-gray-300">Sessions</a>
                    <a href="{{ path('app_classe') }}" class="text-white hover:text-gray-300">Classes</a>
                    <!-- Ajoutez d'autres liens de navigation ici -->
                </div>

                <!-- Mobile Menu Button -->
                <div class="md:hidden">
                    <button id="menu-toggle" class="text-white">
                        <svg class="w-6 h-6" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M3 12h18M3 6h18M3 18h18"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </nav>

        <!-- Main content -->
        <div class="container mx-auto px-4 py-6">
            {% block body %}{% endblock %}
        </div>

        <script>
            // Script pour toggler le menu mobile
            document.getElementById('menu-toggle').addEventListener('click', function() {
                const mobileMenu = document.getElementById('mobile-menu');
                mobileMenu.classList.toggle('hidden');
            });
        </script>
    </body>
</html>
